body {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: justify;
	font-size: medium;
}

p.caption {
	text-align: center;
	width: 66%;
	margin-left: auto;
	margin-right: auto;
}

.figure {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1,h2,h3,h4 {
	font-family: sans-serif;
}

code { font-family: monospace; }

h1.title {
	text-align: center;
}

h1.author{
	text-align: center;
}